@inherits LayoutComponentBase

<Header/>

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight" />

<section class="section">
    <div class="container">
        @Body
    </div>
</section>